DB_HOST=localhost
DB_PORT=5433
DB_NAME=auth_db
DB_USER=admin
DB_PASSWORD=admin

SECRET_KEY=SADAIFJ0N[OAP0ecq365nsdojdpmh9c7g
ACCESS_EXPIRE_MIN=15
REFRESH_EXPIRE_DAYS=30

REDIS_URL=redis://localhost:6379/0

CODE_PEPPER=replace-with-long-random-pepper

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=no-reply@outfit.local
SMTP_TLS=false

DEBUG=false
